@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
i {
font-family: fontawesome !important;
  font-style: normal;
  color: #243759;
}
#nom_user
{
    font-weight: 600;
    font-size: 20px;
}

#people a
{
    color: #293A5E;
    font-size: 17px;
}
.close_popup
{
    position: absolute;
    top: -6px;
    right: -7px;
}

#popup_id {
    display: none;
    background: linear-gradient(#F9DCB0, #F5D7B1,#EDCFAD,#D7BBA5,#CEB1A1,#BB9F9B,#AC9293,#AB8E93);
    position:absolute;
    left:50%;
    margin-left:-25px;
    z-index: 2;
    color: #3D565B;
    top:30%;
    padding: 40px;
    text-align: center;
    border-radius: 3px;
}
#popup_id img
{
    margin-bottom: 16px;
}

.btn-lg p
{
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a.nav-link:hover  .btn-lg
{
    background-color: #E5E8EC  !important;
}
a.nav-link:hover  p, a.nav-link:hover  i
{
    color: #00419C  !important;
    text-decoration: none !important;
}
#second-menu i
{
  font-size: 30px;

}
.nav-item p
{
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 23px;
  color: #717D94;
}
.menu
{
  float: left;
  height: 100%;
  padding-top: 17px;
  background-color: #0049B0;
}
 ul{
  display: table;
 margin-left: 0;
 padding-left: 0;
}
.img1
{
  height: 100px !important;
}
.img1 img
{
  width: 40px ;
}
.sidebar-nav li
{
  list-style: none;

}
.options
{
  margin-left: 20px;
}
.options img
{
  height: 30px;
  margin-bottom: 15px;
}

#second-menu
{
  background-color: #F1F3F5;
  height: 100%;
  padding: 25px;
}
.img-avatar img
{
    width: 100%;
    height: auto;
}
.info
{
  text-align: center;
  margin-bottom: 35px;
}
.name
{
  color: #293A5E;
  font-weight: 600;
  font-size: 20px;
}
.email
{
  color: #717D94;
}
.main h1
{
  color: #172B4D;
}
.page-header
{
  border-bottom: none;
}
#custom-search-input{
    padding: 3px;
    border-radius: 6px;
    background-color: #F1F3F5;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    background-color: #F1F3F5;


}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input i{
    font-size: 23px;
    color: #8F98AA;
}
#panel-my-todos ul
{
  width: 100%;
  padding: 14px;
}
#panel-my-todos li
{
  margin-bottom: 10px;
  border-radius: 6px;

}
.fa-arrows-alt
{
  color: #895ECC;
}
.fa-edit
{
  color: #FFC400;
}
.fa-trash-alt
{
  color: #CE0000;
}
.todos
{
  border-radius: 6px;
  background-color: #F1F3F5;
  margin-top: 35px;
  padding-top: 20px;
}
.titile_todo
{
  margin-left: 14px;
  color: #717D94;
}
.titile_todo p
{
  font-weight: 600;

}

#value_replace {background-color: #F7FF3C; border:1px solid green;}
